<div class="container">
  <div class="fadeIn">
    <h2 class="fadeIn edit">
      Edite seu produto aqui:
    </h2>

    <div class="mt-3">
      <form *ngFor="let produto of produtos">

        <div class="row">

          <div class="col-lg-8 col-md-8">
            <label class="form-group edit"> Nome Do produto</label>
            <input [(ngModel)]="produto.nomeProduto" name="nomeProduto" type="text" class="form-control">
          </div>

          <div class="col-lg-4 col-md-4">
            <label class="form-group edit">Valor</label>
            <input [(ngModel)]="produto.valor" name="valor" type="text" class="form-control" currencyMask
              [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" placeholder="R$ ">
          </div>

        </div>

        <div class="row">

          <div class="col-lg-12 col-md-12 edit">
            <label for="floatingTextarea2">Descrição</label>
            <textarea minlength="10" maxlength="250" [(ngModel)]="produto.descricao" name="descricao"
              class="form-control" placeholder="Altere aqui a descrição do produto ou serviço" id="floatingTextarea2"
              style="height: 250px; width: 457px;"></textarea>
          </div>

        </div>

        <div class="row">

          <div class="col col-lg-4">
            <mdb-card>
              <mdb-card-body>
                <mdb-card-title>
                  <h6 class="edit">Imagem principal</h6>
                </mdb-card-title>
                <mdb-card-text>
                  <img class="card-img-top" [src]="produto.imagem1" alt="" height="80" width="80">
                </mdb-card-text>
              </mdb-card-body>
              <mdb-card-footer><small class="text-muted">
                  <a class="edit" [routerLink]="['editimagem', produto.idProduto]">
                    <mdb-icon far icon="image" size="1x" class="mr-1"></mdb-icon>Inserir ou alterar imagem
                  </a>
                </small>
              </mdb-card-footer>
            </mdb-card>
          </div>

          <div class="col col-lg-4">

            <mdb-card>
              <mdb-card-body>
                <mdb-card-title>
                  <h6 class="edit">Segunda imagem</h6>
                </mdb-card-title>
                <mdb-card-text>
                  <img class="card-img-top" [src]="produto.imagem2" alt="" height="80" width="80">
                </mdb-card-text>
              </mdb-card-body>

              <mdb-card-footer><small class="text-muted">
                  
                    <a class="edit" [routerLink]="['editimagem', produto.idProduto]">
                      <mdb-icon far icon="image" size="1x" class="mr-1"></mdb-icon>Inserir ou alterar imagem
                    </a>
                 
                </small>
              </mdb-card-footer>
            </mdb-card>

          </div>

          <div class="col col-lg-4">

            <mdb-card>
              <mdb-card-body>
                <mdb-card-title>
                  <h6 class="edit">Terceira imagem</h6>
                </mdb-card-title>
                <mdb-card-text>
                  <img class="card-img-top" [src]="produto.imagem3" alt="" height="80" width="80">
                </mdb-card-text>
              </mdb-card-body>
              <mdb-card-footer><small class="text-muted">
                  
                    <a class="edit" [routerLink]="['editimagem', produto.idProduto]">
                      <mdb-icon far icon="image" size="1x" class="mr-1"></mdb-icon>Inserir ou alterar imagem
                    </a>
                 
                </small>
              </mdb-card-footer>
            </mdb-card>

          </div>

        </div>


        <div class="row justify-content-md-center">

          <div class="col-lg-4 col-md-4 ">

            <mdb-card-body>
              <mdb-card-title>
                <button type="button" mdbBtn color="danger" class="relative waves-light mt-3"
                  (click)="basicModal.show()" mdbWavesEffect>
                  <mdb-icon fas icon="trash" class="mr-1"></mdb-icon>Deletar produto
                </button>
                <!--span>É preciso estar logado para enviar uma avaliação</span-->
                <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
                  aria-labelledby="myBasicModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                          <span aria-hidden="true">×</span>
                        </button>


                      </div>
                      <h4 class="text-danger">Deseja mesmo deletar esse produto?</h4>

                      <div class="modal-footer">
                        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                          (click)="basicModal.hide()" mdbWavesEffect>Cancelar</button>
                        <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
                          (click)="deletaProduto(produto.idProduto)">Sim</button>
                      </div>
                    </div>
                  </div>
                </div>

              </mdb-card-title>
              <mdb-card-text> </mdb-card-text>
            </mdb-card-body>

          </div>

          <div class="col-lg-6 col-md-6">


            <button type="submit" mdbBtn gradient="blue" class="relative waves-light mt-3"
              (click)="atualizaProduto(produto)">
              <mdb-icon fas icon="caret-square-up" class="mr-1"></mdb-icon>Atualizar Dados do produto
            </button>



          </div>


        </div>



        <div class="col-md-12">
          <hr>
        </div>
      </form>

    </div>





  </div>
</div>


<!--div class="container-fluid bg-light">
  <div class="row">
    <div class="col-md-6" >
      <mdb-card class="shadow">
        <img [src]=''>
        <mdb-card-body>
          <mdb-card-title>
           <h3 class="text-center"></h3>
            <h4>
              <i class="fa fa-star text-warning"></i>

            </h4>
          </mdb-card-title>
        </mdb-card-body>
      </mdb-card>
  </div>
</div>
</div-->