<div class="container">
  <div class="fadeIn">
    <h1 class="fadeIn">

      Edite seu produto aqui
    </h1>


      <form class="row g-3"  *ngFor="let produto of produtos">

        <div class="col-md-6 mt-4">
          <div class="col-md-12">
            <label class="form-group"> Nome Do produto</label>
            <input [(ngModel)]="produto.nomeProduto" name="nomeProduto" type="text" class="form-control">
          </div>

          <p>{{produto.nomeProduto}}</p>

            <div class="col-md-12">
              <label class="form-group"> Imagem </label>
              <input [(ngModel)]="produto.imagem1" name="imagem" type="text" class="form-control">
            </div>

            <div class="col-md-12">
              <label class="form-group">Valor</label>
              <input [(ngModel)]="produto.valor" name="valor" type="text" class="form-control" >
            </div>
           </div>

        <div class="row">
          <div class="form-floating col-md-6">
            <label for="floatingTextarea2">Descrição</label>
            <textarea minlength="10" maxlength="200" [(ngModel)]="produto.descricao"  name="descricao" class="form-control" placeholder="Altere aqui a descrição do produto ou serviço"
            id="floatingTextarea2" style="height: 300px; width: 500px;"></textarea>
          </div>
        </div>


        <div class="card-deck">
          <mdb-card>
            <mdb-card-body>
              <mdb-card-title>
                <h4>Imagem principal</h4>
              </mdb-card-title>
              <mdb-card-text>
                <img [src]="produto.imagem1" class="img-fluid" alt="">
              </mdb-card-text>
            </mdb-card-body>
            <mdb-card-footer><small class="text-muted"><h6>
              R$: {{produto.valor}}<br><br>
              <a [routerLink]="['editimagem', produto.idProduto]"><mdb-icon far icon="image" size="2x"></mdb-icon>Inserir ou alterar imagem</a>
            </h6></small>
          </mdb-card-footer>
          </mdb-card>

          <mdb-card>
            <mdb-card-body>
              <mdb-card-title>
                <h4>Segunda imagem</h4>
              </mdb-card-title>
              <mdb-card-text>
                <img [src]="produto.imagem2" class="img-fluid" alt="">
              </mdb-card-text>
            </mdb-card-body>
            <mdb-card-footer><small class="text-muted"><h6>
              R$: {{produto.valor}}<br><br>
              <a [routerLink]="['editimagem', produto.idProduto]"><mdb-icon far icon="image" size="2x"></mdb-icon>Inserir ou alterar imagem</a>
            </h6></small>
          </mdb-card-footer>
          </mdb-card>

          <mdb-card>
            <mdb-card-body>
              <mdb-card-title>
                <h4>Terceira imagem</h4>
              </mdb-card-title>
              <mdb-card-text>
                <img [src]="produto.imagem3" class="img-fluid" alt="">
              </mdb-card-text>
            </mdb-card-body>
            <mdb-card-footer><small class="text-muted"><h6>
              R$: {{produto.valor}}<br><br>
              <a [routerLink]="['editimagem', produto.idProduto]"><mdb-icon far icon="image" size="2x"></mdb-icon>Inserir ou alterar imagem</a>
            </h6></small>
          </mdb-card-footer>
          </mdb-card>
        </div>

        <div class="col-6 col-sm-4 mt-5">
            <mdb-card-body>
                <mdb-card-title>

                    <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.show()"  mdbWavesEffect>Deletar produto</button>
                    <!--span>É preciso estar logado para enviar uma avaliação</span-->
                    <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                              <span aria-hidden="true">×</span>
                            </button>


                          </div>
                          <h4>Deseja mesmo deletar esse produto?</h4>
                          <p>{{produto.idProduto}}</p>
                          <div class="modal-footer">
                            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Cancelar</button>
                            <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)="deletaProduto(produto.idProduto)" >Sim</button>
                          </div>
                        </div>
                      </div>
                    </div>

                </mdb-card-title>
                <mdb-card-text class="mb-0"> </mdb-card-text>
              </mdb-card-body>

        </div>

        <div class="col-6 col-sm-4 mt-5">
            <button type="submit" class="btn btn-primary btn-md btn-block" (click)="atualizaProduto(produto)">Atualizar Dados do produto</button>
        </div>

      </form>








  </div>
</div>


<!--div class="container-fluid bg-light">
  <div class="row">
    <div class="col-md-6" >
      <mdb-card class="shadow">
        <img [src]=''>
        <mdb-card-body>
          <mdb-card-title>
           <h3 class="text-center"></h3>
            <h4>
              <i class="fa fa-star text-warning"></i>

            </h4>
          </mdb-card-title>
        </mdb-card-body>
      </mdb-card>
  </div>
</div>
</div-->



<p>{{produto.idProduto}}</p>
