<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
<p class="bemVindo" >Bem vindo(a) ao iFestas!</p>


<!-- Conteúdo da página -->
<div class="container" >

  <div class="row">

    <div class="col-lg-3" >
      <h1 style="background-color:  rgba(4, 4, 161, 0.438); color: white;" class="my-0 list-group-item ">Categorias</h1>
      <div class="list-group">
        <a routerLink="brinquedos" class="list-group-item ">Brinquedos</a>
        <a routerLink="comidas" class="list-group-item ">Comidas</a>
        <a routerLink="equipamentos" class="list-group-item ">Equipamentos</a>
        <a routerLink="servicos" class="list-group-item ">Serviços</a>
      </div>
    </div>


    <!-- Carrossel -->

    <div class="col-lg-9">

    <!-- <div class="carrossel">
      <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">Light mask</h3>
            <p>First text</p>
          </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
            <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">Strong mask</h3>
            <p>Secondary text</p>
          </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
            <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">Slight mask</h3>
            <p>Third text</p>
          </div>
        </mdb-carousel-item>
      </mdb-carousel>
    </div> -->

    <!-- Aqui começa os cards -->

      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let produto of produtos">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" [src]="produto.imagem1" alt=""></a>
            <div class="card-body">
              <h3 class="card-title">
                <p>{{produto.nomeProduto}}</p>
              </h3>
              <h6>
                <p>R$: {{produto.valor}}</p>
              </h6>

            </div>
            <div class="card-footer">
              <p class="text-secondary">{{produto.tipoNegocio}}</p>
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>{{''}}
              <a [routerLink]="['produtodetalhe', produto.idProduto]"><button type="button" mdbBtn color="secondary" mdbWavesEffect>
                <mdb-icon fas icon="info-circle" class="mr-1"></mdb-icon>Detalhes</button> </a>

            </div>
          </div>
        </div>
<!----
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Item Two</a>
              </h4>
              <h5>$24.99</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Item Three</a>
              </h4>
              <h5>$24.99</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Item Four</a>
              </h4>
              <h5>$24.99</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Item Five</a>
              </h4>
              <h5>$24.99</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Item Six</a>
              </h4>
              <h5>$24.99</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
        </div>
-->
      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<ngx-spinner
        bdColor = "rgba(0, 0, 0, 0.5)"
        size = "large"
        color = "#f6d860"
        type = "pacman"

>
<br>
<br>
<br>
    <h2 style="color: white" > Aguarde... </h2>
</ngx-spinner>

