<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark cyan" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand *ngIf="!autenticado"><a class="nav-link waves-light " mdbWavesEffect >
    <img class="mr-1" src="assets\imagens\logoNav1.png" width="90" height="25">

    </a>
</mdb-navbar-brand>

  <mdb-navbar-brand *ngIf="autenticado"><a class="nav-link waves-light " mdbWavesEffect >
      <img class="mr-1" src="assets\imagens\logoNav1.png" width="90" height="25">

      </a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/landing">
          <mdb-icon fas icon="home"></mdb-icon> Página Inicial
        </a>
      </li>
      <li *ngIf="autenticado" class="nav-item  ml-0">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/feed">
          <mdb-icon fas icon="newspaper"></mdb-icon> Feed
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item active" *ngIf="!autenticado">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/cadusuario">
          <mdb-icon fas icon="clipboard-check"></mdb-icon> Cadastre-se<span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" *ngIf="!autenticado">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/login">
          <mdb-icon fas icon="sign-in-alt"></mdb-icon> Login
        </a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown *ngIf="autenticado">
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon> Perfil<span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <div >
            <a class="dropdown-item waves-light" mdbWavesEffect href="#" (click)="logout()">Deslogar</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#" routerLink="/usuarioarea">Área do usuário</a>
          </div>

        </div>
      </li>

    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<router-outlet></router-outlet>




<footer id="footer" class="cyan page-footer  text-white d-flex-column text-center ">

  <hr class="mb-0">
  <!--Footer Links-->
  <div class="container text-left text-md-center">
    <div class="row align-items-center">
      <!--Contate-nos-->
      <div class="col-sm-5 shfooter">
        <h5 class="my-1 font-weight-bold">Contate-nos</h5>
        <ul class="list-unstyled collapse">
          <p><strong>Matriz:</strong> R. Cel. Carlos Matos - S/N | Nova Iguaçu Centro - RJ  CEP:3866-156 -
            <strong>Telefone:</strong> 2764-1025<br><strong>Email:</strong> ifestas@entretenimento.com.br</p>
          <p></p>
        </ul>
      </div>
      <!--/.Contate-nos-->

      <!--Sobre-nós-->
      <div class="col-sm-3 shfooter">
        <h5 class="my-1 font-weight-bold">Sobre-nós</h5>
        <ul class="list-unstyled collapse">
          <li>
            <p><strong>iFestas</strong> é um projeto desenvolvido por pessoas comprometidas em trazer facilidade e
              conveniência ao seu evento.</p>
          </li>
        </ul>
      </div>
      <!--/.Sobre-nós-->

      <!--Social buttons-->
      <div class="col-sm-4 shfooter">
        <h5 class="my-1 font-weight-bold">Se conecte com a gente!</h5>
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <a href="#!" class="sbtn btn-large mx-1" title="Facebook">
              <i class="fab fa-facebook-square fa-3x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#!" class="sbtn btn-large mx-1" title="Linkedin">
              <i class="fab fa-linkedin fa-3x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#!" class="sbtn btn-large mx-1" title="Twitter">
              <i class="fab fa-twitter-square fa-3x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#!" class="sbtn btn-large mx-1" title="Youtube">
              <i class="fab fa-youtube-square fa-3x"></i>
            </a>
          </li>
        </ul>
      </div>
      <!--/.Social buttons-->
    </div>
  </div>
  <!--/.Footer Links-->
  <hr class="mb-0">
  <!--Copyright-->
  <div class="py-1 text-center">
   <p class="copyright">&copy; Copyright iFestas | Grupo: Daniele, Cristian, Pedro e Carlos - SenacRJ</p>
  </div>
  <!--/.Copyright-->
</footer>
