<div class="container">
  <div class="fadeIn">
    <h1 class="fadeIn">
      Cadastro de produto ou serviço:
    </h1>

    <form #f="ngForm" class="row g-3" >
      <div class="col-md-6">
        <label class="form-group"> Produto</label>
        <input [(ngModel)]="produto.nomeProduto" name="nomeProduto" type="text" class="form-control"  required >
      </div>

      <div class="col-md-6">
        <label class="form-group"> Valor </label>
        <input [(ngModel)]="produto.valor" name="valor" type="text" class="form-control"  mask="separator.2" thousandSeparator="."
        placeholder="R$ "required >
      </div>

      <div class="col-md-6">
        <label class="form-group">Descrição</label>
        <input [(ngModel)]="produto.descricao" name="descricao" type="text" class="form-control"
        required>
      </div>


      <div class="col-md-7">
        <label class="form-group" for="customFile" id="customFileLabel"> Imagem 1 </label>
        <input [(ngModel)]="produto.imagem1" name="imagem1" type="file" class="form-control-file" id="customFile"
        accept="image/png, image/jpeg"  required>
      </div>

      <div class="col-md-7">
        <label class="form-group" for="exampleFormControlFile1"> Imagem 2 </label>
        <input name="imagem2" type="file" class="form-control-file" id="exampleFormControlFile1"
        accept="image/png, image/jpeg"
        required>
      </div>

      <div class="col-md-9">
        <label class="form-group" for="exampleFormControlFile1"> Imagem 3 </label>
        <input name="imagem3" type="file" class="form-control-file" id="exampleFormControlFile1"
        accept="image/png, image/jpeg"
        required>
      </div>


      <div class="col-12 col-sm-4 mt-5">
        <button type="submit" class="btn btn-primary btn-md btn-block" (click)="gravarProduto()"><mdb-icon fas icon="check"></mdb-icon> Cadastrar</button>
      </div>
    </form>
  </div>
  </div>

<p>{{produto.imagem1}}</p>


