<div class="">
  <div class="fadeIn">
    <h2 class="fadeIn edit">
      Cadastro de produto ou serviço:
    </h2>

    <form #f="ngForm">

      <div class="row mt-3">
        <div class="col-md-6 edit">
          <label class="form-group"> Nome Do produto</label>
          <input [(ngModel)]="produto.nomeProduto" name="nomeProduto" type="text" class="form-control">
        </div>

        <div class="col-md-6 edit">
          <label class="form-group">Categoria do produto</label>
          <select [(ngModel)]="produto.categoria" name="categoria" class="browser-default custom-select mb-4">
            <option  disabled>Categorias:</option>
            <option value="brinquedos">Brinquedos</option>
            <option value="comidas">Comidas</option>
            <option value="equipamentos">Equipamentos</option>
            <option value="servicos">Serviços</option>
          </select>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6 edit">
          <mdb-icon fas icon="pencil-alt" class="prefix"></mdb-icon>
          <label for="form8">Descrição do produto</label>
          <textarea minlength="10" maxlength="200" [(ngModel)]="produto.descricao" name="descricao" type="text" id="form8" class="md-textarea form-control" mdbInput></textarea>
        </div>

        <div class="col-md-6 edit">
          <label class="form-group">Qual será o tipo de negócio?</label>
          <select [(ngModel)]="produto.tipoNegocio" name="tiponegocio" class="browser-default custom-select mb-4">
            <option value="venda">Venda</option>
            <option value="aluguel">Aluguel</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-4 edit">
          <mdb-icon fas icon="dollar-sign"></mdb-icon>
          <label class="form-group">Valor</label>
          <input type="text"  name="valor" class="form-control" currencyMask [(ngModel)]="produto.valor" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
          placeholder="R$ "required>
        </div>

        <div class="col-lg-7 col-md-4 mt-4">
          <button type="submit" size="md" mdbBtn gradient="purple" (click)="gravarProduto()"><mdb-icon fas icon="check"></mdb-icon> Cadastrar</button>
        </div>
      </div>





      <!--div class="col-md-6">
          <label class="form-group" for="customFile" id="customFileLabel">
              Selecionar Arquivo
            </label>
          <div class="form-group">
            <input
            accept="image/png, image/jpeg"
              type="file"
              class="form-control"
              id="customFile"
              (change)="onChange($event)"
              />
          </div>
          <button type="button" class="btn btn-primary" (click)="onUpload()" [disabled]="!files">
              Upload
            </button>
      </div-->




    </form>
  </div>
  </div>

