<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets\loginLogo\logo.png" id="icon" alt="User Icon" />

    </div>

    <!-- Login Form -->
    <form>
      <input [(ngModel)]="usuario.email" type="text" id="login" class="fadeIn second" name="login" placeholder="email">
      <input [(ngModel)]="usuario.senha" type="password" id="password" class="fadeIn third" name="senha" placeholder="senha">
      <!--input type="submit" class="fadeIn fourth" value="Log In" (click)="logar()" -->
      <input type="submit" class="fadeIn fourth" value="logar" (click)="login()" >

    </form>

    

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="/cadusuario">Cadastre-se</a>
    </div>

  </div>
</div>
<div *ngFor='let item of usuarios'>
  {{item.email}}
</div>
