<div class="container">

  <!-- <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="#" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Light mask</h3>
        <p>First text</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="#" alt="Second slide">
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Strong mask</h3>
        <p>Secondary text</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="#" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Slight mask</h3>
        <p>Third text</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel> -->

</div>

<!-- cadastroProduto -->
<div class="container mw-100">
  <div class="row justify-content-sm-center">
    <div class="col-sm-5">
      <div class="card text-center mb-1 shadow-lg p-1 mb-1 bg-white rounded">
        <img id="anima" class="card-img-top rounded" alt="Thumbnail [100%x225]" title="Photo by pixabay.com"
          style="height: 100%; width: 100%; display: block;" src="assets\imagens\lcadcol.jpg"
          data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text">Faça parte da melhor vitrine da baixada. Aqui você pode mostrar a mais pessoas
            seus serviços para festas.</p>
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary">Venha ser um colaborador e descubra nossos
              benefícios!</button>
          </div>
        </div>
      </div>
    </div>

    <!-- CadastroCliente -->
    <div class="col-sm-5">
      <div class="card text-center mb-1 shadow-lg p-1 mb-1 bg-white rounded">
        <img id="anima" class="card-img-top rounded" alt="Thumbnail [100%x225]" title="Photo by pixabay.com"
          style="height: 100%; width: 100%; display: block;" src="assets\imagens\lcadcl.jpg"
          data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text">Só no iFestas você consegue organizar uma festa de forma rápida, simples e prática.
            Deixe-nos ajudar a se divertir!</p>
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-success">Rápido e pratico, cadastre-se e veja nosso
              catálogo!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <hr class="featurette-divider">
  <div class="serviTitu">

    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star"
      viewBox="00 00 20 20">
      <path
        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star"
      viewBox="00 00 20 20">
      <path
        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star"
      viewBox="00 00 20 20">
      <path
        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star"
      viewBox="00 00 20 20">
      <path
        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star"
      viewBox="00 00 20 20">
      <path
        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
    </svg>
    <h2>Serviços mais bem avaliados:</h2>
  </div>

  
  <div class="card-group">
    <div class="card text-white bg-info">
      <img id="anima" class="rounded-bottom" src="assets\imagens\lurdes.jpg" title="Photo by pixabay.com">
      <div class="card-body">
        <h5 class="card-title"><strong>Bolos da Dona Lurdes</strong></h5>
        <p class="card-text">Dona Lurdes é referencia em doces em Nova iguaçu, com a ajuda do iFestas seus serviços
          agora podem chegar até você. </p>
      </div>
    </div>

    <div class="card text-white bg-success">
      <img id="anima" class="rounded-bottom" src="assets\imagens\saulo.jpg" title="Photo by pixabay.com">
      <div class="card-body">
        <h5 class="card-title"><strong>Aluguel de brinquedos do Saulo</strong></h5>
        <p class="card-text">Pula-pula, patins, piscina de bolinhas. Roda gigante. Com Saulo e seus brinquedos, sua
          festa fica mais divertida.</p>
      </div>
    </div>
    
    <div class="card text-white bg-warning">
      <img id="anima" class="rounded-bottom" src="assets\imagens\luck.jpg" title="Photo by pixabay.com">
      <div class="card-body">
        <h5 class="card-title"><strong>Tudo para festas com Luky!</strong></h5>
        <p class="card-text">Com a ajuda da Luky você não precisa saber cozinhar, servir nem tirar fotos. Serviços
          prontos sobmedida para seu evento.</p>
      </div>
    </div>
  
</div>
</div>