<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

<div class="container" >
  <div class="fadeIn">
    <h2 class="fadeIn edit">

      Edite seus dados aqui:

    </h2>

    <form class="container" >
      <div class="row">

        <div class="col-lg-6 col-md-6 edit">
          <label class="form-group"> Nome Completo</label>
          <input type="text" name="nome" [(ngModel)]="usuario.nome"  class="form-control">
        </div>

       <div class="col-lg-6 col-md-6 edit">
          <label class="form-group">Data de Nascimento</label>
          <input type="text" name="nascimento" [(ngModel)]="usuario.nascimento" class="form-control">
       </div>

      </div>

      <div class="row">

        <div class="col-lg-6 col-md-6 edit">
          <label class="form-group">Celular</label>
          <input type="tel" name="celular" [(ngModel)]="usuario.celular" class="form-control" mask="(00)00000-0000" placeholder="Ex.:(00)00000-0000">
        </div>

        <div class="col-lg-6 col-md-6 edit">
          <label class="form-group"> Rua </label>
          <input type="text" name="rua" [(ngModel)]="usuario.rua" class="form-control">
        </div>

      </div>

      <div class="row">

        <div class="col-lg-4 col-md-4 edit">
          <label class="form-group">Número</label>
          <input type="number" name="numero" [(ngModel)]="usuario.numero" class="form-control">
        </div>

        <div class="col-lg-8 col-md-8 edit">
          <label class="form-group">Bairro</label>
          <input type="text" name="bairro" [(ngModel)]="usuario.bairro" class="form-control">
        </div>

      </div>

      <div class="row">

        <div class="col-lg-6 col-md-6 edit">
          <label for="cep" class="form-group">Cep</label>
          <input type="Text" name="cep" [(ngModel)]="usuario.cep" id="cep" class="form-control" mask="00000-000" placeholder="Ex.:00000-000">
        </div>
        <div class="col-lg-6 col-md-6 edit">
          <label for="cidade" class="form-group">Cidade</label>
          <input name="cidade" [(ngModel)]="usuario.cidade" type="text" id="cidade" class="form-control"
          ngModel required #cidade="ngModel">
        </div>

      </div>

      <div class="row">

        <div class="col-lg-12 col-md-12 edit">
          <label class="form-group">Email</label>
          <input name="email" [(ngModel)]="usuario.email" type="Text" class="form-control">
        </div>



      </div>

      <div class="row">
        <div class="col-lg-5 col-md-5 my-1 edit">
          <label class="form-group">Digite sua senha atual</label>
          <input name="senha" [(ngModel)]="senha" type="password" class="form-control">
        </div>

        <div class="col-md-7 col-md-7 my-1 edit">
          <label class="form-group">Digite uma nova senha ou confirme a atual</label>
          <input name="senha" [(ngModel)]="novaSenha" type="password" class="form-control">
          <p class="text-danger">*Senha deve ter no mínimo 6 digitos</p>
        </div>


      </div>

      <div class="row justify-content-md-center">

        <div class="col-12">
          <button type="submit" mdbBtn gradient="purple" (click)="atualizaUsuario()"><mdb-icon fas icon="user-edit" class="mr-1"></mdb-icon>Atualizar</button>
        </div>

      </div>

    </form>
  </div>
</div>



