<div class="container">
  <h4 class="text-secondary">Vendas e alugueis:</h4>
  <div class="col-lg-10 col-md-12 col-8 mt-5 table-responsive" *ngFor="let pedido of pedidos">


    <table mdbTable mdbTableCol >
      <thead class="grey lighten-1 black-text">
        <tr>
          <th scope="col"> Nome: </th>
          <th scope="col"> Produto: </th>
          <th scope="col"> Tipo da transação: </th>
          <th scope="col"> Descrição do produto: </th>
          <th *ngIf="pedido.tipoNegocio == 'aluguel'" scope="col"> Data de entrega: </th>
          <th *ngIf="pedido.tipoNegocio == 'aluguel'" scope="col"> Data de devolução: </th>
          <th scope="col"> Email: </th>
          <th scope="col"> Rua: </th>
          <th scope="col"> Numero: </th>
          <th scope="col"> Bairro: </th>
          <th scope="col"> Cidade: </th>
          <th scope="col"> Celular: </th>
          <th scope="col"> Valor: </th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <th scope="row">{{pedido.nomeUsuario}}</th>
          <td>{{pedido.nomeProduto}}</td>
          <td>{{pedido.tipoNegocio}}</td>
          <td>{{pedido.descricao}}</td>
          <td *ngIf="pedido.tipoNegocio == 'aluguel'">{{pedido.dataEntrega | date: 'dd-MM-yyyy'}}</td>
          <td *ngIf="pedido.tipoNegocio == 'aluguel'">{{pedido.dataDevolucao | date: 'dd-MM-yyyy'}}</td>
          <td>{{pedido.email}}</td>
          <td>{{pedido.rua}}</td>
          <td>{{pedido.numero}}</td>
          <td>{{pedido.bairro}}</td>
          <td>{{pedido.cidade}}</td>
          <td>{{pedido.celular}}</td>
          <td>{{pedido.valor | currency:'BRL'}}</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
